@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  font-family: "Poppins", sans-serif;
}
.active{
  border-bottom: 2px solid #00FFB2;
}

.custom-list {
  @apply list-none pl-0;
}

.custom-list li::before {
  content: '•';
  @apply text-black inline-block w-4 -ml-4;
}

html {
  scroll-behavior: smooth;
}


/* Custom styles for radio buttons */
.custom-radio {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #00FFB2;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
}

.custom-radio:checked::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #00FFB2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.clamp-this {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

br{
margin-top: 10px;
margin-bottom: 10px;
}

/* 

.tracking-in-contract-bck {
	animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
 */



 .type-writer-container {
  display: inline-block;
}

.type-writer-effect {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 6s steps(29, end) 1 normal both;
}

.type-writer-effect:nth-child(2) {
  animation-delay: 6s;
}

/* Cursor at the end of text */
.type-writer-cursor {
  display: inline-block;
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  animation: animated-cursor 600ms steps(29, end) infinite;
  animation-delay: 12s; /* Delay this to start blinking after the text animations */
  animation-duration: 1.2s; /* Blink twice */
  animation-fill-mode: forwards; /* Keep the final state */
}

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* Static cursor after animation */
.type-writer-cursor-static {
  border-right: none;
  content: '';
}

