@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
  font-family: "Poppins", sans-serif;
}
.active{
  border-bottom: 2px solid #00FFB2;
}

.custom-list {
  @apply list-none pl-0;
}

.custom-list li::before {
  content: '•';
  @apply text-black inline-block w-4 -ml-4;
}

html {
  scroll-behavior: smooth;
}


/* Custom styles for radio buttons */
.custom-radio {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid #00FFB2;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  outline: none;
  cursor: pointer;
}

.custom-radio:checked::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #00FFB2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.clamp-this {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

br{
margin-top: 10px;
margin-bottom: 10px;
}

/* 

.tracking-in-contract-bck {
	animation: tracking-in-contract-bck 4s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

 @keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
 */

 .type-writer-container {
  display: block;
  white-space: pre-wrap; /* Allows text wrapping within the container */
  overflow: hidden;
  word-break: break-word; /* Break long words and wrap */
  max-width: 100%; /* Ensure the container does not overflow the screen */
  text-align: center; /* Center the text within the container */
  line-height: 1.2; /* Adjust the line height for readability */
  padding: 0 1rem; /* Add padding to prevent text from touching the edges */
}

.type-writer-effect {
  display: inline-block;
  overflow: hidden;
  animation: animated-text 2s steps(30, end) 1 normal both; /* Faster animation */
  white-space: nowrap; /* Prevent wrapping within each span */
}

.type-writer-effect:nth-child(2) {
  animation-delay: 2s; /* Adjust the delay to match the new duration */
}

.type-writer-cursor {
  display: inline-block;
  border-right: solid 3px rgba(0, 255, 0, 0.75);
  animation: animated-cursor 600ms steps(29, end) infinite;
  animation-delay: 4s; /* Adjust the delay to match the new duration */
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
}

/* text animation */
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* cursor animation */
@keyframes animated-cursor {
  from {
    border-right-color: rgba(0, 255, 0, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

.type-writer-cursor-static {
  border-right: none;
  content: '';
}

/* Responsive design */
@media (max-width: 767px) { /* Mobile screens */
  .type-writer-container {
    font-size: 2rem; /* Increase the font size for mobile */
  }
  .type-writer-effect {
    font-size: 2rem; /* Ensure spans have the same font size */
  }
}



@media (max-width: 480px) { /* Extra small screens */
  .type-writer-container {
    font-size: 1.4rem; /* Further reduce the font size for very small screens */

  }
  .type-writer-effect {
    font-size: 1.4rem; /* Ensure spans have the same font size */
  }
}
